.table{
    position: sticky;
    top: 0;
    z-index: 1;
}

.paginat{
    display: inline ;
    
}

.pagination-list{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.list{
    margin-top: 3px;
}

.buttonList{
    background-color: #CDC9C9;
    border: 2px solid #000;
    justify-content: center;
    align-content: center;
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 15px;
}

.activePage {
    background-color: blue; /* ou a cor desejada */
    color: white; /* ou a cor do texto desejada */
    /* Adicione outros estilos conforme necessário */
  }